<div id="add-application-modal">
    <form class="modal-view-box">
        <label style="font-family:Georgia;
                      color:white;
                      font-size:20px;
                      padding-left:20%;
                      width:inherit;">Add new application</label>
        <table>
            <tbody>
                <tr>
                    <td>Application Name</td><td><input type="text"></td>
                </tr>
                <tr>
                    <td>Application Url</td><td><input type="url"></td>
                </tr>
                <tr>
                    <td>Application Logo</td><td><input type="file"></td>
                </tr>
                <tr>
                    <td style="padding:5vh">
                        <button style="float:right;margin-right:2vw;" class="btn btn-default" onclick="hide_add_application_modal()">
                            Close
                        </button>
                    </td>
                    <td>
                        <button style="margin-left:2vw;"class="btn btn-primary" onclick="add_new_application()">
                            Submit
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
