<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <script src="{% static 'js/lib/jquery.js' %}"></script>
    <script src="{% static 'js/lib/jquery-ui.js' %}"></script>
    <script src="{% static 'js/lib/bootstrap.js' %}"></script>
    <script src="{% static 'js/lib/jquery-ui.js' %}"></script>
    <script src="{% static 'js/all-apps.js' %}"></script>
    <link  rel="stylesheet" href="{% static 'css/lib/bootstrap.css' %}" >
    <link  rel="stylesheet" href="{% static 'css/navbar-style.css' %}" >
    <link  rel="stylesheet" href="{% static 'css/all-apps.css' %}" >
    <link rel="icon" href="{% static 'images/applicationIcon.png' %}">
    <meta charset="UTF-8">
    <title>Manage | Fakebook</title>
</head>
<body>
    {% include 'registration/navbar.html' %}
    <div id="all-apps-container">
        <div class="app app-item">
            <button onclick="show_add_application_modal()"><img src="{% static 'images/addApplicationIcon.png' %}"></button>
        </div>
        {% for app in app_list %}
        <div class="app app-item">
            <button><img
                    class="application-logo"
                    src="/{{app.application_logo}}"
                    appName="{{app.application_name}}"
                    appPath="{{app.application_path}}"
                    appId="{{app.application_Id}}"></button>
            <label class="app-item-label">{{app.application_name}}</label>
        </div>
        {% endfor %}
    </div>
    {% include 'add-application-modal.html' %}
    {% include 'application-context-menu.html' %}
</body>
</html>