<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <script src="{% static 'js/lib/jquery.js' %}"></script>
    <script src="{% static 'js/lib/jquery-ui.js' %}"></script>
    <script src="{% static 'js/lib/bootstrap.js' %}"></script>
    <script src="{% static 'js/lib/jquery-ui.js' %}"></script>
    <script src="{% static 'js/lib/multiselect.js' %}"></script>
    <script src="{% static 'js/all-apps.js' %}"></script>
    <script src="{% static 'js/chat-box.js' %}"></script>
    <link  rel="stylesheet" href="{% static 'css/lib/bootstrap.css' %}" >
    <link  rel="stylesheet" href="{% static 'css/navbar-style.css' %}" >
    <link  rel="stylesheet" href="{% static 'css/all-apps.css' %}" >
    <link  rel="stylesheet" href="{% static 'css/chat-box.css' %}" >
    <link rel="icon" href="{% static 'images/applicationIcon.png' %}">
    <meta charset="UTF-8">
    <title>404 | Error</title>
</head>
<body>
    {% include 'registration/navbar.html' %}

</body>
</html>